<section id="boards" class="boards">
    <!--<div class="board-head"></div>-->
    <div class="board-head">
        <div class="board-headline">
            <h1>Board</h1>
        </div>
        <div class="search-task">
            <form class="board-form">
                <input class="board-search-input" type="search" placeholder="Find task...">
                <button class="btn-task" type="submit">Search</button>
            </form>
        </div>
        <div class="btn-task-container"><button class="btn-task clickable">Add Task +</button></div>
    </div>
    <div class="board-bar">
        <div class="board-to-do">
            <div>To Do</div>
            <div class="add-btn clickable">+</div>
        </div>
        <div class="board-In-progress">
            <div>In Progress</div>
            <div class="add-btn clickable">+</div>
        </div>
        <div class="board-feedback">
            <div>Await feedback</div>
            <div class="add-btn clickable">+</div>
        </div>
        <div class="board-done">
            <div>Done</div>
            <div class="add-btn clickable">+</div>
        </div>
    </div>
    <div class="board-main">
        <div class="board-main-to-do"></div>
        <div class="board-main-in-progress"></div>
        <div class="board-main-await-feedback"></div>
        <div class="board-main-done"></div>
    </div>
</section>