main {
  width: 100%;
  text-wrap: pretty;
  max-width: 1920px;
}

.lock-landscape {
  display: none;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.head img {
  cursor: pointer;
  width: 21px;
  height: 21px;
  margin-right: 20px;
  margin-top: 20px;
}

.imprint-wrapper {
  padding-top: 20px;
  margin-left: 40px;
  padding-right: 20px;
  border-collapse: collapse;
  display: block;
  overflow-y: auto;
  max-height: calc(100% - 40px);
}

.mt-10 {
  margin-top: 10px;
}


/****************** Media Queries ******************/
@media screen and (min-width: 320px) and (max-width: 932px) and (orientation: landscape)
{
  .lock-landscape {
    display: block !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
  .content-ctn {
    display: none !important;
  }
  header, nav, main {
    display: none !important;
  }
}